.navbar-inverse {
	background-color: white;
	border: none
}

.featurette-divider {
	margin: 40px 0;
}

.people-id {
	text-align: center;
}

.people-row {
	margin-top: 10px;
}

div.people-id.col-lg-12 p.people-desc {
	max-width: 33%;
	margin-left: auto;
	margin-right: auto 
}

div.people-id.col-lg-6 p.people-desc {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto 
}

.people-email, .people-phno {
	font-size: 17px;
}

.people-desg {
	color: black;
	font-weight: 500;
	font-size: 22px
}